body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    margin-left: 15em;
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.filter {
    padding: 2em;
    text-align: center;
}

.cont {
    display: flex;
    padding: 1em
}
.brandsDrop {
    padding: 2px;
}
.colorsDrop {
    padding: 2px;
}
.btn{
    padding: 2px;
}